* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //10px / 16
    scroll-behavior: smooth;

    @include screen(tab-port) {
        font-size: 50%; //8px / 16
    }
    @include screen(phone) {
        font-size: 37.5%; //6px / 16
    }
   
}
body {
    box-sizing: border-box;
}
main {
    background-color: $color-grey-light-2;
}
.container {
    max-width: 1280px;
    margin: 0 auto;

    @include screen(tab-land) {
        max-width: 1000px;
    }
    @include screen(tab-port) {
        max-width: 800px;
    }
    @include screen(phone) {
        max-width: 500px;
    }
}
ul {
    list-style: none;
}
.hidden {
    display: none;
}

#map {
    height: 100%;
}